// @media print {
//   button {
//     display: none;
//   }
//   .print {
//     display: none;
//   }
//   fa-icon {
//     display: none;
//   }
//   .input-group-novi {
//     display: none;
//   }
//   .pagnator {
//     display: none;
//   }
// }
.container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: left;
  // background: grey;
  width: 300px;
}

#trazi {
  margin-right: 10px;
}
